<head>
	<style>
	.project {
		width: 50%;
		text-align: left;
		display: block;
		margin-left: 25%;
		padding-top: 50px;
	}
	
	.nav_title {
			font-family: 'Chronicle SSm A', 'Chronicle SSm B', Georgia, 'times new roman', times, serif;
  			font-weight: 400;
  			font-style: normal;
  			color: #333;
  			font-size: 24px;
  			letter-spacing: 0px;
  			float: left;
		}

	.float_clear{
		clear: both;
	}

	.nav_url {
		line-height: 10px;
		margin-top: 15px;
		float: left;
	}

	.nav_wrapper {
		text-align: left;
		margin-top: 30px;
		margin-bottom: 5px;
		margin-left: 100px;
		margin-right:100px;
		background-color: white;
	}
	a:link, a:visited {
		color:#333;
		text-decoration: none;
	}

	a:hover{
		color:black;
	}

	hr { 
    	display: block;
    	margin-top: 30px;
    	margin-bottom: 20px;
    	margin-left: 100px;
    	margin-right: 100px;
    	border-style: inset;
    	border-width: 1px;
	} 

	#intro{
		margin-left: 25%
	}

	#learn_more {
		text-decoration: underline;
		color: red;

	}
	

	</style>
</head>

<body>

	<div class="nav_wrapper">
		<span class="nav_masthead">
			<div class="nav_title">Amaan Rahim</div>
			<div class="float_clear"> </div>
				<div class="nav_url">
					<a href="/"> AMAAN.COM </a>
				</div>
		</span>
	</div> 

	<hr> 

	<p id="intro">
		Here's what I'm working on as now (6/18/15):
	</p>

	<div class="project">
		<h1 class="title">
			BJCx:
		</h1>
		<p class="body">
			The Beauty and Joy of Computing (BJC) is an introductory computer science course at UC Berkeley intended for those with little to no programming experience. Recently, our course was selected to be a part of AP Computer Science Principles curriculum. Thus, in partnership with edX, we are launching BJCx, an online course intended to introduce students with no prior experience programming to the big principles of computer science such as abstraction and recursion. 
		</p>

		<p class="body">
			I joined the team in Fall 2014, and have since served as the project lead for the Peer Grading group. We are responsible for developing tools that allow students to receive personalized feedback on their work from their peers.
		</p>

		<p>
			You can learn more about 
			<a id="learn_more" href="http://bjc.berkeley.edu/">here</a>
		</p>
	</div> 
	<div class="project">
		<h1>
			Dementia Smartwatch:
		</h1>
		<p>
			I'm currently working to develop a prototype of a smartwatch specifically aimed at early-stage dementia patients. We hope to help caretakers provide better care for their patients through real-time data while also delaying the onset of the more severe stages of dementia. We hope the smartwatch will allow patients to stay home with their families for as long as possible.  
		</p>
</body>
