<head>
	<style>
		.back{
			width: 3.4;
			height: 5.3;
			margin-left: 15px;
			margin-top:15px;
		}

		.thumb_image{
			float: left;
			margin-left: 100px;
			margin-top: 100px;
		}

		.sidebar{

			
		}

		.thumbnail_image{
			margin-left: 58px;
		}

		#date{
			margin-left: 150px;
			margin-top: 200px;
			position: absolute;
			padding-bottom: 10px;
		}

		#url{
			margin-left: 182px;
			margin-top: 225px;
			position: absolute;
			padding-top: 15px; 
		}

		.content {
			/*margin-left: 300px;*/
			margin-top: 10px;
			max-width: 700px;
			float: left;
			padding-left: 50px;
		}

	</style>
</head>
<body> 
<div class="content-wrapper">
	<div class="back">
		<a href="/posts">
			<img src="http://www.hamiltonkent.com/media/2425/icon-ios7-arrow-back-128.png"
			width="50" height="50" border="0">
			</a> 
	<div class="sidebar">
			<!-- <h2> Open Payments Data </h2>  -->
		<div class="thumbnail_image"> 
			<img src="http://www.propublica.org/images/ngen/gypsy_big_image/20140930-med-disclosures-630x420.jpg" width="150" height="100" border="0" class="thumb_image">
		</div>
		<div id="date">
			<p> Creation date: 6/16/2015 </p>
		</div> 
		<div id="url">
			<a href="https://github.com/rahimamaan/OpenPaymentsData"> Code on Github</a>
		</div> 
	</div>
</div>
<div class="content">
	<p id="notice"><%= notice %></p>

	<%= render :partial => @post %>

	<!-- <%= link_to 'Edit', edit_post_path(@post) %> 
	<%= link_to 'Back', posts_path %> -->
</div>
</body>
