<div class="thumbnail_wrapper">
	<div class="thumbnail_container">
		<a href="/posts/1">
			<img src="http://vm136.lib.berkeley.edu/EART/tour/sf1906.gif" width="200" height="200" border="0" class="thumbnail_image">
			<span class="thumbnail_title_container">
				<span class="thumbnail_title">Title Here</span>
			</span>
		</a>
	</div> 
	<div class="thumbnail_container">
		<a href="">
			<img src="" width="200" height="200" border="0" class="thumbnail_image">
			<span class="thumbnail_title_container">
				<span class="thumbnail_title">Title Here</span>
			</span>
		</a>
	</div> 