<head>
	<style>
	.btn {
	  font-family: Didot;
	  color: #ffffff;
	  font-size: 20px;
	  padding: 10px 20px 10px 20px;
	  border: solid #ffffff 2px;
	  text-decoration: none;
	  display: inline-block;
	  margin-right: 0 auto;
	  margin-left: 21%;
	  margin-top: 23%;
	  margin-bottom: 0 auto;

	}

	.btn:hover {
	  color: #000000;
	  background-color: #ffffff;
	  text-decoration: none;
}
	
	h1{
		color: white;
		font-family: Didot;
	}

/*			.nav_title {
			font-family: 'Chronicle SSm A', 'Chronicle SSm B', Georgia, 'times new roman', times, serif;
  			font-weight: 400;
  			font-style: normal;
  			color: #333;
  			font-size: 24px;
  			letter-spacing: 0px;
  			float: left;
		}

		.float_clear{
			clear: both;
		}

		.nav_url {
			line-height: 10px;
			margin-top: 15px;
			float: left;
		}

		.nav_wrapper {
			text-align: left;
			margin-top: 30px;
			margin-bottom: 5px;
			margin-left: 100px;
			margin-right:100px;
			background-color: white;
		}*/

		.header{
			background-color: black;
			padding: 0.5px;
		}
	body {
  /*background-image: url('http://41.media.tumblr.com/tumblr_mb5mfy8KhY1qjh7xdo1_1280.jpg');*/ 
/*  background-image: url("http://41.media.tumblr.com/tumblr_lwy5ynhVsk1qjh7xdo1_1280.jpg");*/
  /*background-image: url("http://40.media.tumblr.com/tumblr_mabxhemb5C1qjh7xdo1_1280.jpg");*/
  /*background-image: url("http://41.media.tumblr.com/tumblr_mbc5byt2Ub1qjh7xdo1_1280.jpg");*/
background-image: url("http://kathygrayart.com/wp-content/uploads/2015/03/NorthTower-Tiff-File.jpg");
  background-repeat: no-repeat;
  background-position: 5% 60%;
  background-size: cover;
  font-family: Didot;
 
}


	</style>
</head>

<body>
<!-- 	<div class="nav_wrapper">
		<span class="nav_masthead">
			<div class="nav_title">Amaan Rahim</div>
			<div class="float_clear"> </div>
				<div class="nav_url">
					<a href="/"> AMAAN.COM </a>
				</div>
		</span>
	</div> -->
	<center>
		<div class="header">
			<h1> amaan rahim </h1>
		</div> 
	</center> 

	<a class="btn" href="updates/current">what i'm working on</a>

	<a class="btn" href="posts#index">what i've worked on</a>
	

</body>